.navbar{
	border-radius:0px;
	margin-bottom:0px;
	.navbar-brand{
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		@include transition(opacity .35s ease-in);
		&:hover{
			opacity: 0.8;
		}
	}
}